.group-index {
  padding-top: 80px;
  &__search {
    width: 450px;
    margin: 0 auto 30px auto;
    position: relative;

  }
  &__search-form {
    width: 100%;
    height: 35px;
    border-style: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  &__search-icon {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 20px;
    color: #757575;
  }
}

.group-show {
  padding-top: 80px;
  &__title {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 10px 30px;
    width: calc(100% - 60px);
  }
  &__tag {
    width: max-content;
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.group-create-button {
  width: 125px;
  height: 125px;
  background-color: black;
  border-radius: 30px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__content {
    text-align: center;
  }
  &__icon {
    color: #FFE733;
    font-size: 70px;
  }
  &__description {
    color: #FFE733;
    font-size: 13px;
  }
}

.group-create-form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  &__bg {
    height: 100%;
    width: 100%;
    background: rgba(45,45,45, 0.8);
  }
  &__input-area {
    width: 500px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  &__input-title {
    width: 400px;
    height: 35px;
    background-color: #f4f8fa;
    border-style: none;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__submit {
    width: 400px;
    padding: 5px;
    font-size: 20px;
    border-style: none;
    background-color: #FFE733;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
  }
  &__tags {
    margin: 0 auto;
    width: 400px;
  }
  &__tag {
    width: max-content;
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__tag-name {
    font-size: 20px;
    margin-right: 5px;
  }
  &__tag-remove {
    cursor: pointer;
  }
  &__tag-form {
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
  &__tag-input {
    width: 300px;
    height: 35px;
    background-color: #f4f8fa;
    border-style: none;
    font-size: 20px;
    padding: 0;
  }
  &__tag-btn {
    width: 100px;
    height: 35px;
    padding: 0;
    font-size: 20px;
    color: #FFE733;
    border-style: none;
    background-color: black;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
  }
}

.group-card {
  width: 500px;
  margin: 0 auto 30px auto;
  padding: 20px;
  background-color: white;
  position: relative;
  &__title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    text-decoration: none;
  }
  &__link {
    text-decoration: none;
    color: black;
  }
  &__response {
    font-size: 17px;
    margin-top: 10px;
    height: 68px;
    overflow: hidden;
  }
  &__bottom-contents {
    display: flex;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
  &__tag {
    width: max-content;
    font-size: 13px;
    line-height: 15px;
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__res-sum {
    display: flex;
    font-size: 17px;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  &__res-icon {
    color: #FFE733;
    margin-right: 5px;
  }
}