body {
  background-color: #f4f8fa;
}

header {
  margin-bottom: 30px;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #FFE733;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-size: 30px;
  }
  &__menu {
    display: flex;
  }
  &__list {
    margin-right: 20px;
  }
  &__link {
    text-decoration: none;
    color: black;
  }
}